name: gha-gcp test

on:
  push:
    branches:
    - master

jobs:
  setup:
    name: Start and set up GCP instances
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: install terraform
      run: |
        url=https://releases.hashicorp.com/terraform/0.12.29/terraform_0.12.29_linux_amd64.zip
        filename=$(basename $url)
        curl -LORSsf $url
        unzip $filename
        sudo mv terraform /usr/local/bin 
        rm -f $filename
        sudo ls -l /usr/local/bin

    - name: start up GCP instances
      env:
        my_secret: ${{ secrets.GCP_CREDENTIAL }}
      run: |
        echo $my_secret >temp
        export GOOGLE_APPLICATION_CREDENTIALS="temp"
        terraform init && terraform apply -auto-approve

#    # this step could be a part of the above step
#    - name: set up GCP instances
#      ./setup_infrastructure.sh

    - name: cache terraform related files
      uses: actions/cache@v2
      with:
        path: |
          /usr/local/bin/terraform
          .terraform
          terraform.tfstate*
        key: ${{ runner.os }}-terraform

    - name: upload terraform related files
      uses: actions/upload-artifact@v2
      with:
        name: main.tf
        path: main.tf

  # This job is already defined for ci-test-weather
  tests:
    name: Run tests on GCP
    needs: setup
    runs-on: ubuntu-latest

    steps:
    - name: Sleep
      run: sleep 180

  stop:
    # make sure all tests have finished and then destroy all instances
    # do i need to check out (i.e. do I need main.tf just to run terraform destroy)?
    # probably, since we need the terraform state file from the setup step
    # use cached terraform files?
    # Again, needs GCP credential
    name: Destroy GCP instances
    needs: tests
    runs-on: ubuntu-latest

    steps:
    - name: download terraform related files
      uses: actions/download-artifact@v2
      with:
        name: main.tf

    - name: destroy GCP instances
      env:
        my_secret: ${{ secrets.GCP_CREDENTIAL }}
      run: |
        ls -alh
        echo $my_secret >temp
        export GOOGLE_APPLICATION_CREDENTIALS="temp"
        terraform destroy -auto-approve
